<div class="card">
  <p-dataView #dv [value]="products" layout="grid" [columns]="2">
    <ng-template class="p-grid" let-product pTemplate="gridItem">
      <div class="p-col-6 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div class="product-img">
              <img
                src="{{ product.image }}"
                alt="{{ product.tilte }}"
                style="width: 200px"
              />
            </div>
          </div>
          <div class="product-grid-item-content">
            <div class="product-name">
              <b>{{ product.title }}</b>
            </div>
            <div class="product-description">{{ product.description }}</div>
            <p-rating
              [ngModel]="product.rating.rate"
              [readonly]="true"
              [cancel]="false"
            ></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{ product.price }}</span>
            <p-button icon="pi pi-shopping-cart"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
